soap-ws-java-client/src/main/java/org/sid/1.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BankWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8084/?xsd=1"/>
</xsd:schema>
</types>
<message name="Convert_USD_to_MAD">
<part name="parameters" element="tns:Convert_USD_to_MAD"/>
</message>
<message name="Convert_USD_to_MADResponse">
<part name="parameters" element="tns:Convert_USD_to_MADResponse"/>
</message>
<message name="getAccount">
<part name="parameters" element="tns:getAccount"/>
</message>
<message name="getAccountResponse">
<part name="parameters" element="tns:getAccountResponse"/>
</message>
<message name="AccountsList">
<part name="parameters" element="tns:AccountsList"/>
</message>
<message name="AccountsListResponse">
<part name="parameters" element="tns:AccountsListResponse"/>
</message>
<portType name="BankService">
<operation name="Convert_USD_to_MAD">
<input wsam:Action="http://ws/BankService/Convert_USD_to_MADRequest" message="tns:Convert_USD_to_MAD"/>
<output wsam:Action="http://ws/BankService/Convert_USD_to_MADResponse" message="tns:Convert_USD_to_MADResponse"/>
</operation>
<operation name="getAccount">
<input wsam:Action="http://ws/BankService/getAccountRequest" message="tns:getAccount"/>
<output wsam:Action="http://ws/BankService/getAccountResponse" message="tns:getAccountResponse"/>
</operation>
<operation name="AccountsList">
<input wsam:Action="http://ws/BankService/AccountsListRequest" message="tns:AccountsList"/>
<output wsam:Action="http://ws/BankService/AccountsListResponse" message="tns:AccountsListResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Convert_USD_to_MAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="AccountsList">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWS">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:8084/"/>
</port>
</service>
</definitions>