soap-ws-dotnet-csharp-app-windows-forms-client/soap-ws-dotnet-csharp-app-windows-forms-client/Connected Services/BankServiceReference/BankWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="BankWS" targetNamespace="http://ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8084/?xsd=1" namespace="http://ws/" />
    </xsd:schema>
  </types>
  <message name="Convert_USD_to_MAD">
    <part name="parameters" element="tns:Convert_USD_to_MAD" />
  </message>
  <message name="Convert_USD_to_MADResponse">
    <part name="parameters" element="tns:Convert_USD_to_MADResponse" />
  </message>
  <message name="getAccount">
    <part name="parameters" element="tns:getAccount" />
  </message>
  <message name="getAccountResponse">
    <part name="parameters" element="tns:getAccountResponse" />
  </message>
  <message name="AccountsList">
    <part name="parameters" element="tns:AccountsList" />
  </message>
  <message name="AccountsListResponse">
    <part name="parameters" element="tns:AccountsListResponse" />
  </message>
  <portType name="BankService">
    <operation name="Convert_USD_to_MAD">
      <input wsam:Action="http://ws/BankService/Convert_USD_to_MADRequest" message="tns:Convert_USD_to_MAD" />
      <output wsam:Action="http://ws/BankService/Convert_USD_to_MADResponse" message="tns:Convert_USD_to_MADResponse" />
    </operation>
    <operation name="getAccount">
      <input wsam:Action="http://ws/BankService/getAccountRequest" message="tns:getAccount" />
      <output wsam:Action="http://ws/BankService/getAccountResponse" message="tns:getAccountResponse" />
    </operation>
    <operation name="AccountsList">
      <input wsam:Action="http://ws/BankService/AccountsListRequest" message="tns:AccountsList" />
      <output wsam:Action="http://ws/BankService/AccountsListResponse" message="tns:AccountsListResponse" />
    </operation>
  </portType>
  <binding name="BankServicePortBinding" type="tns:BankService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="Convert_USD_to_MAD">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="getAccount">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="AccountsList">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="BankWS">
    <port name="BankServicePort" binding="tns:BankServicePortBinding">
      <soap:address location="http://localhost:8084/" />
    </port>
  </service>
</definitions>